:root {
    --primary: #6209DB;
    --dark: black;
    --grey: #f5f5f5;
}

body {
    font-family: 'Poppins', sans-serif;
}

.navbar {
    min-height: 90px;
}

.navbar .btn {
    padding: .625rem 1.25rem !important;
}

.text-primary {
    color: var(--primary) !important;
}

.btn {
    padding: 0.625rem;
    
}

.btn:active, .btn-primary:active {
    outline: none !important;
    outline-style: none !important;
    box-shadow: 0 !important;
}

.btn-primary {
    background-color: var(--primary);
    border-color: var(--primary);
}

.bg-primary {
    background-color: var(--primary) !important;
}

.bg-ligth {
    background-color: var(--grey) !important;
}

.btn-primary:hover {
    background-color: var(--primary);
}

.content {
    max-width: 450px;
}

.active {
    color: var(--primary) !important;
}

section {
    height: 650px;
    /* revisar 20/10/2021 */
}

.step {
    position: relative;
    display: flex;
    justify-content: center;
}

.step::after {
    content: '';
    border-right:  1px solid var(--dark);
    height: 60px;
    position: absolute;
    top: 34px;
    opacity: .3;
}

.call-to-action {
    border-radius: 50px;
}

.call-to-action img {
    max-width: 280px;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.font-weight-bold {
   font-weight: bold; 
}

li > a:hover {
    color: var(--primary);
}


@media (max-width: 992px) {
    .navbar {
        position: relative !important;
    }

    section {
        height: unset;
    }

    .call-to-action img {
        max-width: 60%;
    }
}